<h1 class="header__title">{{'tweeterDetail' | translate}}</h1>
<mat-progress-spinner *ngIf="!tweeter"
                      class="progress__spinner"
                      [color]="'primary'"
                      [mode]="'indeterminate'">
</mat-progress-spinner>
<div id="tweeter-detail" *ngIf="tweeter">
    <ng-container>
        <mat-card class="tweeter-card">
            <mat-card-header>
                <div mat-card-avatar class="tweeter-header__image"
                     [ngStyle]="{'background-image': 'url(assets/images/tweeters/' + tweeter.id + '-thumbnail.jpg)'}"></div>
                <mat-card-title>{{tweeter.name}}</mat-card-title>
                <mat-card-subtitle>{{tweeter.handle}}</mat-card-subtitle>
                <div class="flex-spacer"></div>
                <div class="tweeter-actions">
                    {{tweeter.followers}}
                    <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                              [matTooltipPosition]="'above'"
                              class="icon__follow--red" (click)="follow(tweeter)">favorite
                    </mat-icon>
                </div>
            </mat-card-header>
            <!-- <img mat-card-image src="assets/images/heroes/{{hero.id}}.jpg"> -->
        </mat-card>

        <div id="tweeter-json">
            <pre>{{tweeter | json}}</pre>
        </div>
    </ng-container>
</div>
<button mat-raised-button type="button" (click)="dynamicImport()">
    {{'snapshot' | translate | uppercase}}
</button>
<button mat-raised-button type="button" (click)="goBack()">
    {{'goBack' | translate | uppercase}}
</button>
