<div id="left">
  <h2 class="header__title">{{ 'tweetersList' | translate }}</h2>
  <div>
    <mat-progress-spinner *ngIf="!tweeters"
                          class="progress__spinner"
                          [color]="'primary'"
                          [mode]="'indeterminate'">
    </mat-progress-spinner>
    <mat-list>
      <mat-list-item *ngFor="let tweeter of tweeters">
        <img *ngIf="tweeter.default" class="cp"
             (click)="seeTweeterDetails(tweeter);" mat-list-avatar
             src="assets/images/heroes/{{hero.id}}-thumbnail.jpg">
        <img *ngIf="!tweeter.default"
             (click)="seeTweeterDetails(tweeter);" mat-list-avatar src="assets/images/heroes/default.png">
        <h3 mat-line [class.cp]="tweeter.default" (click)="seeTweeterDetails(tweeter);"> {{tweeter.name}} </h3>
        <p mat-line [class.cp]="tweeter.default" (click)="seeTweeterDetails(tweeter);">
          <span>{{tweeter.alterEgo}}</span>
        </p>
        <div class="tweeter-actions">
          {{tweeter.likes | number:'.0'}}
          <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                    [matTooltipPosition]="'above'"
                    class="icon__like--red" (click)="follow(tweeter)">
            favorite
          </mat-icon>
          <mat-icon class="icon__remove" *ngIf="!tweeter.default"
                    (click)="remove(tweeter);">
            delete
          </mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div id="right">
  <h2 class="header__title">{{ 'createTweeter' | translate }}</h2>
  <div>
    <form [formGroup]="newTweeterForm" #form="ngForm" (ngSubmit)="createNewTweeter(newTweeterForm.value)">
      <mat-form-field class="input-container">
        <input matInput type="text"
               placeholder="{{'name' | translate}}"
               formControlName="name">
        <mat-error *ngIf="!newTweeterForm.controls.name.valid && newTweeterForm.controls.name.touched">
          {{'nameRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-container">
        <input matInput type="text"
               placeholder="{{'realName' | translate}}"
               formControlName="alterEgo">
        <mat-error *ngIf="!newTweeterForm.controls.alterEgo.valid && newTweeterForm.controls.alterEgo.touched">
          {{'realNameRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!newTweeterForm.valid">
        {{'create' | translate}}
      </button>

      <div *ngIf="error">{{error | translate}}</div>
    </form>
  </div>

<div id="tweeters-json">
    <h2 class="header__title">{{ 'firstTwoTweetersById' | translate }}</h2>
    <pre>{{tweeters | slice:0:2 | json}}</pre>
  </div>
</div>
<div class="clear"></div>
