<div fxLayout="row">
    <div fxFlex="10" fxFlex.gt-sm="20"></div>
    <div fxFlex="90" fxFlex.gt-sm="80">
        <h1 class="header__title">{{'topTweeters' | translate}}</h1>
        <mat-progress-spinner *ngIf="!tweeters"
                              class="progress__spinner"
                              [color]="'primary'"
                              [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div id="tweeters-list" *ngIf="tweeters">
            <ng-container *ngFor="let tweeter of tweeters">
                <mat-card class="tweeter-card">
                    <mat-card-header>
                        <div (click)="seeTweeterDetails(tweeter)" mat-card-avatar class="tweeter-header__image"
                             [ngStyle]="{'background-image': 'url(assets/images/heroes/' + tweeter.id + '-thumbnail.jpg)'}"></div>
                        <mat-card-title (click)="seeTweeterDetails(tweeter)">{{tweeter.name}}</mat-card-title>
                        <mat-card-subtitle (click)="seeTweeterDetails(tweeter)">{{tweeter.alterEgo}}</mat-card-subtitle>
                        <div class="flex-spacer"></div>
                        <div class="tweeter-actions">
                            {{tweeter.likes}}
                            <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                                      [matTooltipPosition]="'above'"
                                      class="icon__like--red" (click)="follow(tweeter)">favorite
                            </mat-icon>
                        </div>
                    </mat-card-header>
                    <img (click)="seeTweeterDetails(tweeter)" mat-card-image src="assets/images/heroes/{{tweeter.id}}.jpg">
                </mat-card>
            </ng-container>
        </div>
    </div>
    <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>
